LOG_LEVEL= # Logging level (e.g., DEBUG, INFO)
LOG_FORMAT= # Log output format (e.g., json, text)

POSTGRES_HOST= # PostgreSQL server hostname or IP (e.g., localhost, db)
POSTGRES_PORT= # PostgreSQL server port (usually 5432)
POSTGRES_USER= # PostgreSQL database user
POSTGRES_PASSWORD= # Password for the PostgreSQL user
POSTGRES_NAME= # Name of the PostgreSQL database

REDIS_PASSWORD= # Redis server password (leave empty if none)
REDIS_HOST= # Redis server host
REDIS_PORT= # Redis server port (usually 6379)

SECRET_KEY= # Cryptographic secret key for JWT tokens
ALGORITHM= # Hashing algorithm for JWT (e.g., HS256)
ACCESS_TOKEN_EXPIRE_MINUTES= # Access token lifespan in minutes
REFRESH_TOKEN_EXPIRE_DAYS= # Refresh token lifespan in days

SUPER_ADMIN_USERNAME= # Initial super admin username
SUPER_ADMIN_PASSWORD= # Initial super admin password
SUPER_ADMIN_EMAIL= # Initial super admin email

BROKER_USER= # Username for RabbitMQ message broker user
BROKER_PASSWORD= # Password for RabbitMQ message broker user
BROKER_HOST= # RabbitMQ server host
BROKER_PORT= # RabbitMQ server port

AWS_ACCESS_KEY_ID= # Access key id for AWS S3 Bucket
AWS_ACCESS_KEY= # Access key for AWS S3 Bucket
AWS_REGION_NAME= # Region for AWS S3 Bucket
AWS_BUCKET_NAME= # Name of AWS S3 Bucket
